body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
  margin: unset;
}

img {
  max-width: 100%;
  display: block;
}
